*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 800px;
    background: linear-gradient(rgba(0, 0, 0, 0.529)), url("./hero-section-fon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.navbar{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-ps{
    display: flex;
    gap: 50px;
}
.navbar-minidiv{
    background-color: #07AF91;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
}
.navbar-divs{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
}
.burger{
    display: none;
}
.navbar-ps{
    color: white;
}
.section-header{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 100px;
}
.section-header-minidiv{
    background: linear-gradient(#016CA8, #61B5E4);
    border-radius: 10px;
    width: 220px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.section-header-h1{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    width: 560px;
}
.section-header-p1{
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 400;
}
.section-header-p2{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 300;
    display: none;
}
.hero{
    max-width: 1200px;
    margin: auto;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 150px;
}
.hero1
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero2
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
}
.hero h1{
    color: #1178B2;
    font-size: 35px;
}
.hero1 h3{
    color: #1178B2;
    font-size: 24px;
}
.hero1 p{
    color: #0000008d;
    font-size: 20px;
    width: 80%;
}
.hero2 h3{
    color: #1178B2;
    font-size: 24px;
}
.hero2 p{
    color: #0000008d;
    font-size: 20px;
    width: 100%;
}
.hero-txt{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.uslug{
    width: 400px;
}
.hero-btn{
    width: 320px;
    height: 70px;
    background-color: #07AF91;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}
.hero-btn2{
    width: 320px;
    height: 70px;
    background-color: #07AF91;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    left: 640px;
}
.hero-und{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.for{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 60px;
}
.for-both{
    display: flex;
    justify-content: space-between;
}
.for h1{
    color: #1178B2;
    font-size: 35px;
}
.for-card{
    width: 380px;
    height: 330px;
    box-shadow: 0px 0px 30px #0000001b;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.for-card h1{
    font-size: 80px;
    font-weight: 800;
    color: #1178B280;
}
.for-card h2{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}
.for-card p{
    font-size: 16px;
    font-weight: 400;
    color: #0000007d;
    width: 70%;
}
.learn{
    margin-top: 100px;
    width: 100%;
    height: 600px;
    background: linear-gradient(rgba(0, 0, 0, 0.529)), url("./learn-fon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.learn1
{
    max-width: 1200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.learn1 h1{
    border-radius: 5px;
    background-color: #07AF91;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    padding: 10px 30px;
}
.learn1 p{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
}
.learn1 button{
    width: 350px;
    height: 80px;
    background: linear-gradient(#016CA8, #61B5E4);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}
@media (max-width: 600px){
    header{
        height: 680px;
    }
    .navbar-ps{
        display: none;
    }
    .burger{
        width: 40px;
        height: 40px;
        display: block;
    }
    .navbar-minidiv{
        width: 100px;
    }
    .section-header{
        align-items: center;
        text-align: center;
    }
    .section-header-h1{
        font-size: 30px;
        width: 100%;
    }
    .section-header-p1{
        display: none;
    }
    .section-header-p2{
        display: block;
    }
    .hero{
        max-width: 1200px;
        margin: auto;
        margin-top: 100px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        text-align: center;
    }
    .hero1{
        flex-direction: column-reverse;
        text-align: center;
        gap: 30px;
    }
    .hero2{
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    .hero-txt{
        gap: 30px;
    }
    .hero h1{
        font-size: 30px;
    }
    .hero1 h3{
        font-size: 18px;
    }
    .hero1 p{
        font-size: 16px;
        width: 100%;
    }
    .hero2 h3{
        font-size: 18px;
    }
    .hero2 p{
        font-size: 16px;
        width: 100%;
    }
    .hero-btn{
        width: 100%;
        height: 70px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }
    .hero-btn2{
        width: 100%;
        height: 70px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        position: relative;
        left: 0px;
    }
    .uslug{
        width: 90%;
    }
    .for{
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0px;
        gap: 60px;
        margin-top: 100px;
    }
    .for-both{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    .for h1{
        font-size: 35px;
    }
    .for-card{
        width: 90%;
        height: 330px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
    .for-card h1{
        font-size: 80px;
    }
    .learn{
        margin-top: 100px;
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .learn1
    {
        max-width: 1200px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .learn1 h1{
        font-size: 30px;
        width: 80%;
    }
    .learn1 p{
        font-size: 20px;
        font-weight: 400;
        width: 80%;
    }
    .learn1 button{
        width: 80%;
    }
}