*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 800px;
    background: linear-gradient(rgba(0, 0, 0, 0.529)), url("./hero-section-fon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.navbar{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-ps{
    display: flex;
    gap: 50px;
}
.navbar-minidiv{
    background-color: #07AF91;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
}
.navbar-divs{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
}
.burger{
    display: none;
}
.navbar-ps{
    color: white;
}
.section-header{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 100px;
}
.section-header-minidiv{
    background: linear-gradient(#016CA8, #61B5E4);
    border-radius: 10px;
    width: 220px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.section-header-h1{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    width: 560px;
}
.section-header-p1{
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 400;
}
.section-header-p2{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 300;
    display: none;
}
@media (max-width: 600px){
    header{
        height: 680px;
    }
    .navbar-ps{
        display: none;
    }
    .burger{
        width: 40px;
        height: 40px;
        display: block;
    }
    .navbar-minidiv{
        width: 100px;
    }
    .section-header{
        align-items: center;
        text-align: center;
    }
    .section-header-h1{
        font-size: 30px;
        width: 100%;
    }
    .section-header-p1{
        display: none;
    }
    .section-header-p2{
        display: block;
    }
}